numpy==1.23.5
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.1
--extra-index-url https://download.pytorch.org/whl/cpu
torchvision==0.17.1
absl-py==1.4.0
six==1.14.0
pillow==9.5.0
timm==0.6.13
scikit-image==0.20.0
boto3==1.26.121
opencv-python-headless==4.7.0.72
matplotlib==3.7.1
path==16.6.0
loguru==0.6.0
thop==0.1.1.post2209072238
pycocotools==2.0.6
tabulate==0.9.0
numba==0.57.0rc1
graphviz==0.20.1
sacremoses==0.0.53
regex==2023.3.23
huggingface-hub>=0.23.0
filelock==3.11.0
tensorflow==2.12.0
transformers==4.40.2
onnxruntime==1.14.1
Cython==0.29.34
onnx==1.13.1
sentencepiece>=0.2.0
pandas==2.0.2
ultralytics==8.0.145
av==11.0.0
networkx==3.1
huggingface-cli==0.1
soundfile>=0.12.1
librosa>=0.10.1
diffusers>=0.27.2
accelerate>=0.30.1
protobuf<4
datasets>=2.19.1
cryptography>=42.0.7
decorator>=5.1.1
