--extra-index-url https://download.pytorch.org/whl/cpu
Cython>=3.0.9
av>=11.0.0
matplotlib==3.7.1
mir-eval==0.7 # convtasnet
networkx==3.1
numpy==1.23.5
pandas==2.0.2
pillow>=10.2.0
protobuf<4.0.0
pycocotools>=2.0.7
scikit-image<0.20
scipy>=1.10.1
timm>=0.9.16
torch==2.2.1
torchaudio==2.2.1 # convtasnet
torchvision==0.17.1
transformers==4.40.2
ultralytics==8.0.145
onnx==1.13.1 # 3ddfa
onnxruntime==1.14.1 # 3ddfa
loguru==0.6.0 # yolox
tabulate==0.9.0 # yolox
FlagEmbedding==1.2.10 # bge-m3
easydict==1.13 # motionbert
ipdb==0.13.13 # motionbert
smplx==0.1.28 # motionbert
imageio_ffmpeg==0.4.9 # motionbert
