--extra-index-url https://download.pytorch.org/whl/cpu
tritonclient==2.62.0
gevent==25.9.1
geventhttpclient==2.3.5
fire==0.7.1
opencv-python>=4.9.0.80
nvidia-pytriton==0.5.7
matplotlib>=3.8.0
scipy>=1.10.1
torch==2.8.0
torchvision<=0.23.0
opencv-python-headless==4.10.0.84
pyyaml>=6.0.1
requests==2.32.3
ultralytics==8.3.33
