addict==2.4.0
attr==0.3.2
attrs==25.3.0
better_profanity==0.7.0
cosmos-guardrail @ git+https://github.com/yiyixuxu/cosmos-guardrail.git@d36404090e6bf14eacb6a0cbdc4a64737bdf5d46
decord>=0.6.0
einops==0.8.1
hydra-core==1.3.2
imageio[pyav,ffmpeg]==2.37.0
iopath==0.1.10
loguru>=0.7.3
matplotlib>=3.8.0
mistral_common==1.8.4
natsort==8.4.0
nltk==3.9.1
onnxruntime==1.22.1
opencv-python-headless==4.10.0.84
optimum-rbln
peft>=0.15.0
pycocotools>=2.0.7
pynvml==12.0.0
python-magic==0.4.27
retinaface_py==0.0.2
rtmlib==0.0.13
sam2==1.1.0
termcolor==2.5.0
