--extra-index-url https://pypi.rbln.ai/simple/ https://download.pytorch.org/whl/cpu
accelerate>=0.28.0
datasets>=2.19.1
huggingface-hub>=0.23.0
librosa>=0.10.1
numpy==1.23.5
opencv-python>=4.9.0.80
optimum-rbln
protobuf<4
sentencepiece>=0.2.0
soundfile>=0.12.1
jinja2>=3.1.0
